<p id="notice"><%= notice %></p>
<div class="content-wrapper">
  <div class="content-heading">
     <div>Job Categories</div>
  </div>
  <div class="container-fluid">
     <div class="card">
        <div class="card-header">
           <div class="card-title"></div>
           <div class="text-sm"></div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
             <table class="table table-striped my-4 w-100" id="datatable_test">
                <thead>
                   <tr>
                      <th>Name</th>
                      <th>Parent</th>
                      <th></th>
                   </tr>
                </thead>
                <tbody>
                   <% @job_categories.each do |job_category| %>
                    <tr>
                      <td><%= job_category.name %></td>
                      <td><%= job_category.parent_id %></td>
                      <td>
                        <%= link_to 'Show', job_category %>
                        <%= link_to 'Edit', edit_job_category_path(job_category) %>
                        <%= link_to 'Destroy', job_category, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
             </table>
          </div>
        </div>
     </div>
    <%= link_to 'New Job Category', new_job_category_path %>
  </div>
</div>