<p id="notice"><%= notice %></p>
<div class="content-wrapper">
  <div class="content-heading">
     <div>Job Requests</div>
  </div>
  <div class="container-fluid">
     <div class="card">
        <div class="card-header">
           <div class="card-title"></div>
           <div class="text-sm"></div>
           <div id="datatable_test_filter" class="data_filter">
            <%= search_form_for @q, url: admin_job_requests_path, method: :get do |f| %>
              <table>
                <tr>
                  <td>
                    <%= f.label "User" %>
                    <%= f.select :user_id_eq, options_for_select(@users, @q.user_id_eq),
                          {include_blank: 'Select user'}, style: "width: 200px" %>
                  </td>
                  <td>
                    <%= f.label "Job" %>
                    <%= f.select :job_id_eq, options_for_select(@jobs, @q.job_id_eq),
                          {include_blank: 'Select job'}, style: "width: 200px" %>
                  </td>
                  <td>
                    <%= f.label "Status" %>
                    <%= f.select :status_cont, options_for_select(@statues, @q.status_cont), {include_blank: "select status"}, style: "width: 200px" %>
                  </td>
                </tr>
              </table>
                <%= f.submit %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
             <table class="table table-striped my-4 w-100" id="datatable_test">
                <thead>
                   <tr>
                      <th>User</th>
                      <th>Job</th>
                      <th>Status</th>
                      <th></th>
                   </tr>
                </thead>
                <tbody>
                  <% @job_requests.each do |job_request| %>
                    <tr>
                      <td><%= job_request.user.full_name %></td>
                      <td><%= job_request.job.title %></td>
                      <td><%= job_request.status %></td>
                      <td>
                        <%= link_to 'Show', admin_job_request_path(job_request) %>
                        <%= link_to 'Edit', edit_admin_job_request_path(job_request) %>
                        <%= link_to 'Destroy', admin_job_request, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
             </table>
          </div>
          <%= paginate @job_requests %>
        </div>
     </div>
    <%= link_to 'New Job Request', new_admin_job_request_path %>
  </div>
</div>