<style type="text/css">
  .field_with_errors{
    flex: 1 1 auto;
  }
</style>
<div class="card card-default">
   <div class="card-header"></div>
   <div class="card-body">
      <%= form_for user, url: url, method: method, local: true, class: 'form-horizontal' do |form| %>
        <% if user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <fieldset>
          <legend>Form user</legend>
        </fieldset>

        <% if user.new_record? %>
          <fieldset>
            <div class="form-group row">
              <div class="col-md-2">
                <%= form.label :email, class: 'form-label' %>
              </div>
              <div class="col-md-10">
                <%= form.email_field :email, class: 'form-control', required: true %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :nickname, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <%= form.text_field :nickname, class: 'form-control', type: 'text', required: true %>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :first_name, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :first_name, class: 'form-control', type: 'text', required: true %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :last_name, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :last_name, class: 'form-control', type: 'text', required: true %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :phone_number, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :phone_number, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :date_of_birth, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :date_of_birth, class: 'form-control', type: 'date' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :gender, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.radio_button :gender, 'female', id: 'female', checked: user.gender.eql?('female') %>
              <%= form.label :gender, 'Female', for: 'female' %>
              <%= form.radio_button :gender, 'male', id: 'male', checked: user.gender.eql?('male') %>
              <%= form.label :gender, 'Male', for: 'male' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :full_address, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_area :full_address, class: 'form-control' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :city, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :city, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :postcode, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :postcode, class: 'form-control', type: 'number' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :state, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :state, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :description, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :description, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :country, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :country, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :role, class: 'form-label' %>
            </div>
            <div class="col-md-10">
            <%= form.select :role_id, Role.all.map {|role| [role.role_name, role.id] }, {include_blank: '--select one--'}, class: 'form-control' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label :company_id, class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.select :company_id, Company.all.map {|comp| [comp.name, comp.id] }, {include_blank: true}, class: 'form-control' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label 'twitter_url', class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :twitter, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label 'facebook_url', class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :facebook, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label 'linkedin_url', class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :linkedin, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row">
            <div class="col-md-2">
              <%= form.label 'instagram_url', class: 'form-label' %>
            </div>
            <div class="col-md-10">
              <%= form.text_field :instagram, class: 'form-control', type: 'text' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="card card-default">
            <div class="card-header">Select Location</div>
            <div class="card-body">
              <div class="gmap" data-latitude="<%= user.latitude %>" data-longitude="<%= user.longitude %>" data-zoom="18"></div>
            </div>
          </div>
        </fieldset>

        <div class="actions">
          <%= form.hidden_field :latitude, id: :latitude %>
          <%= form.hidden_field :longitude, id: :longitude %>
          <%= form.submit submit_button_label(user), class: 'btn btn-primary' %>
        </div>
      <% end %>
   </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      // init maps
      var mapData = $('.gmap').data();

      map = new GMaps({
         div: '.gmap',
        zoom: mapData.zoom,
         lat: mapData.latitude,
         lng: mapData.longitude,
        click: function(e) {
          var coordinates = e.latLng;
              latitude    = coordinates.lat();
              longitude   = coordinates.lng();

          map.removeMarkers();
          map.addMarker({
            lat: latitude,
            lng: longitude
          });

          $("#latitude").val(latitude);
          $("#longitude").val(longitude);
        },
      });

      // Add marker after init map loaded
      map.addMarker({
        lat: mapData.latitude,
        lng: mapData.longitude
      });
    });
  </script>
<% end %>