<div class="content-heading mb-0">
  <div><strong><%= @company.name %></strong></div>
  <div class="ml-auto">
    <%= link_to 'Edit', edit_admin_company_path(@company), class: 'btn btn-info' %>
  </div>
</div>
<div class="row pt-1 mt-0">
  <div class="col-md-6">
    <div class="card mb-1 border-danger">
      <div class="card-header"><h4>Details</h4></div>
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Status:</th>
                <td><%= @company.status %></td>
              </tr>

              <tr>
                <th>Phone number:</th>
                <td><%= @company.phone_number %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-1 border-danger">
      <div class="card-header"><h4>Address</h4></div>
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Full address:</th>
                <td><%= @company.full_address %></td>
              </tr>

              <tr>
                <th>City:</th>
                <td><%= @company.city %></td>
              </tr>

              <tr>
                <th>Postcode:</th>
                <td><%= @company.postcode %></td>
              </tr>

              <tr>
                <th>State:</th>
                <td><%= @company.state %></td>
              </tr>

              <tr>
                <th>Country:</th>
                <td><%= @company.country %></td>
              </tr>

              <tr>
                <th>Latitude:</th>
                <td><%= @company.latitude %></td>
              </tr>

              <tr>
                <th>Longitude:</th>
                <td><%= @company.longitude %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>