<p id="notice"><%= notice %></p>
<div class="content-wrapper">
  <div class="content-heading">
     <div>Job Requests</div>
  </div>
  <div class="container-fluid">
     <div class="card">
        <div class="card-header">
           <div class="card-title"></div>
           <div class="text-sm"></div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
             <table class="table table-striped my-4 w-100" id="datatable_test">
                <thead>
                   <tr>
                      <th>User</th>
                      <th>Job</th>
                      <th>Status</th>
                      <th></th>
                   </tr>
                </thead>
                <tbody>
                  <% @job_requests.each do |job_request| %>
                    <tr>
                      <td><%= job_request.user.full_name %></td>
                      <td><%= job_request.job.title %></td>
                      <td><%= job_request.status %></td>
                      <td>
                        <%= link_to 'Show', job_request %>
                        <%= link_to 'Edit', edit_job_request_path(job_request) %>
                        <%= link_to 'Destroy', job_request, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
             </table>
          </div>
        </div>
     </div>
    <%= link_to 'New Job Request', new_job_request_path %>
  </div>
</div>