<p id="notice"><%= notice %></p>
<div class="content-wrapper">
  <div class="content-heading">
     <div>Jobs</div>
  </div>
  <div class="container-fluid">
     <div class="card">
        <div class="card-header">
           <div class="card-title"></div>
           <div class="text-sm"></div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
             <table class="table table-striped my-4 w-100" id="datatable_test">
                <thead>
                   <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Payment term</th>
                      <th>Amount</th>
                      <th>Payment type</th>
                      <th>Full address</th>
                      <th>City</th>
                      <th>Postcode</th>
                      <th>State</th>
                      <th>Country</th>
                      <th>Start date</th>
                      <th>End date</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>Status</th>
                      <th>Job category</th>
                      <th>User</th>
                      <th>Skill ids</th>
                      <th></th>
                   </tr>
                </thead>
                <tbody>
                   <% @jobs.each do |job| %>
                   <tr>
                      <td><%= job.title %></td>
                      <td><%= job.description %></td>
                      <td><%= job.payment_term %></td>
                      <td><%= job.amount %></td>
                      <td><%= job.payment_type %></td>
                      <td><%= job.full_address %></td>
                      <td><%= job.city %></td>
                      <td><%= job.postcode %></td>
                      <td><%= job.state %></td>
                      <td><%= job.country %></td>
                      <td><%= job.start_date %></td>
                      <td><%= job.end_date %></td>
                      <td><%= job.latitude %></td>
                      <td><%= job.longitude %></td>
                      <td><%= job.status %></td>
                      <td><%= job.job_category_id %></td>
                      <td><%= job.user_id %></td>
                      <td><%= job.skill_ids %></td>
                      <td>
                        <%= link_to 'Show', job %>
                        <%= link_to 'Edit', edit_job_path(job) %>
                        <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                   </tr>
                  <% end %>
                </tbody>
             </table>
          </div>
        </div>
     </div>
    <%= link_to 'New Job', new_job_path %>
  </div>
</div>