<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @picture.user_id %>
</p>

<p>
  <strong>Pictureable type:</strong>
  <%= @picture.pictureable_type %>
</p>

<p>
  <strong>Pictureable:</strong>
  <%= @picture.pictureable_id %>
</p>

<p>
  <strong>File url:</strong>
  <%= @picture.file_url %>
</p>

<p>
  <strong>File type:</strong>
  <%= @picture.file_type %>
</p>

<%= link_to 'Edit', edit_admin_picture_path(@picture), class: 'btn btn-info' %>
<%= link_to 'Back', admin_pictures_path, class: 'btn btn-secondary' %>
