<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
<br>
<%= link_to 'Add Pictures', new_picture_path(pictureable_type: @skill.class.name, pictureable_id: @skill.id) %>