<p id="notice"><%= notice %></p>
<div class="content-wrapper">
  <div class="content-heading">
     <div>Mentors</div>
  </div>
  <div class="container-fluid">
     <div class="card">
        <div class="card-header">
           <div class="card-title"></div>
           <div class="text-sm"></div>
           <div id="datatable_test_filter" class="data_filter">
             <%= search_form_for @q do |f| %>
              <%= f.label "Search by full name" %>
              <%= f.search_field :full_name_cont %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
             <table class="table table-striped my-4 w-100" id="datatable_test">
                <thead>
                   <tr>
                      <th>Nickname</th>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Email</th>
                      <th>Phone number</th>
                      <th>Date of birth</th>
                      <th>Gender</th>
                      <th>Full Address</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Country</th>
                      <th>Postcode</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>Position</th>
                      <th>User Type</th>
                      <th>Company</th>
                      <th>Skills</th>
                      <th></th>
                   </tr>
                </thead>
                <tbody>
                  <% @mentors.each do |mentor| %>
                    <tr>
                      <td>
                        <%= mentor.nickname %>
                      </td>
                      <td>
                        <%= mentor.first_name %>
                      </td>
                      <td>
                        <%= mentor.last_name %>
                      </td>
                      <td>
                        <%= mentor.email %>
                      </td>
                      <td>
                        <%= mentor.phone_number %>
                      </td>
                      <td>
                        <%= mentor.date_of_birth %>
                      </td>
                      <td>
                        <%= mentor.gender %>
                      </td>
                      <td>
                        <%= mentor.full_address %>
                      </td>
                      <td>
                        <%= mentor.city %>
                      </td>
                      <td>
                        <%= mentor.state %>
                      </td>
                      <td>
                        <%= mentor.country %>
                      </td>
                      <td>
                        <%= mentor.postcode %>
                      </td>
                      <td>
                        <%= mentor.latitude %>
                      </td>
                      <td>
                        <%= mentor.longitude %>
                      </td>
                      <td>
                        <%= mentor.position %>
                      </td>
                      <td>
                        <%= mentor.user_type %>
                      </td>
                      <td>
                        <%= mentor.skills.map{|skill| skill.name}.join(",") %>
                      </td>
                      <td>
                        <%= link_to 'Show', mentor %>
                        <%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %>   
                      </td>
                    </tr>
                  <% end %>
                </tbody>
             </table>
          </div>
          <%= paginate @mentors %>
        </div>
     </div>
  </div>
</div>