<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @company.phone_number %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @company.full_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @company.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @company.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @company.longitude %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
