<%= render "layouts/partials/flash_message" %>
<p>
  <strong>Role Name:</strong>
  <%= @role.role_name %>
</p>

<p>
  <strong>Role Code:</strong>
  <%= @role.role_code %>
</p>

<p>
  <strong>Authorities:</strong>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="40%">General</th>
            <th width="10%" class="text-center">View</th>
            <th width="10%" class="text-center">Add</th>
            <th width="10%" class="text-center">Edit</th>
            <th width="10%" class="text-center">Delete</th>
            <th width="10%" class="text-center">Print</th>
            <th width="10%" class="text-center">Export</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Jobs", auth_name: 'jobs', border: true, only_show: true,
                        auth_code: "J", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Job Categories", auth_name: 'job_categories', border: true, only_show: true,
                        auth_code: "JC", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Job Requests", auth_name: 'job_requests', border: true, only_show: true,
                        auth_code: "JR", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Skills", auth_name: 'skills', border: true, only_show: true,
                        auth_code: "J", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Companies", auth_name: 'companies', border: true, only_show: true,
                        auth_code: "C", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "School Partners", auth_name: 'school_partners', border: true, only_show: true,
                        auth_code: "SP", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Pictures", auth_name: 'pictures', border: true, only_show: true,
                        auth_code: "P", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Mentors", auth_name: 'mentors', border: true, only_show: true,
                        auth_code: "M", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Users", auth_name: 'users', border: true, only_show: true,
                        auth_code: "U", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Roles", auth_name: 'roles', border: true, only_show: true,
                        auth_code: "R", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Coin Packages", auth_name: 'coin_packages', border: true, only_show: true,
                        auth_code: "CP", no_print: true, no_export: true} %>
          <%= render partial: "admin/roles/partials/access_auth_row",
                      locals: { role: @role, auth_label: "Orders", auth_name: 'orders', border: true, only_show: true,
                        auth_code: "O", no_print: true, no_export: true} %>
        </tbody>
      </table>
    </div>
</p>

<p>
  <strong>Status:</strong>
  <%= @role.status %>
</p>

<%= link_to 'Edit', edit_admin_role_path(@role), class: 'btn btn-info', data: { disable_with: 'Please wait...' } %>
<%= link_to 'Back', admin_roles_path, class: 'btn btn-secondary', data: { disable_with: 'Please wait...' } %>