<%= render "layouts/partials/flash_message" %>
<div class="row">
   <div class="col-xl-4">
      <!-- START List group-->
      <div class="card card-default card-demo standard" id="cardChart3">
        <div class="card-header">
          <div class="card-title">This Month</div>
        </div>
        <div class="card-body p-0">
      <div class="list-group">
         <div class="list-group-item">
            <div class="d-flex align-items-center py-3">
               <div class="w-50 px-3">
                  <div class="h1"><%= @new_users.count %></div>
                  <p class="m-0 text-sm">New Users</p>
               </div>
               <div class="w-50 px-3 text-center">
                  <div class="d-flex align-items-center flex-wrap justify-content-center">
                    <% @ten_new_users.each do |user| %>
                      <a href="#" data-toggle="tooltip" title="<%= user.full_name %>">
                        <% if user.picture.try(&:file_url).blank? %>
                          <em class="thumb24 mx-1 far fa-user" style="padding-top: 5%; color: black;"></em>
                        <% else %>
                          <img class="circle thumb24 mx-1" src="<%= user.picture.file_url %>" alt="<%= user.full_name %>"/>
                        <% end %>
                      </a>
                    <% end %>
                  </div>
               </div>
            </div>
         </div>
         <div class="list-group-item">
            <div class="d-flex align-items-center">
               <div class="w-50 px-3">
                  <div class="h1"><%= @new_job_requests.count %></div>
                  <p class="m-0 text-sm">New Job Request(per week)</p>
               </div>
               <div class="w-50 text-center job_req">
                  <div id="ct-bar1" data-values="<%= @job_req_per_week.split(',') %>" data-label="<%= @range_per_week.each_with_index.map{|w, i| "W-#{i + 1}"}.to_json %>"></div>
               </div>
            </div>
         </div>
         <div class="list-group-item">
            <div class="d-flex align-items-center">
               <div class="w-50 px-3">
                  <div class="h1"><%= @new_jobs.count %></div>
                  <p class="m-0 text-sm">New Jobs(per week)</p>
               </div>
               <div class="w-50 text-center jobs">
                  <div id="ct-bar2" data-values="<%= @job_per_week.split(',') %>" data-label="<%= @range_per_week.each_with_index.map{|w, i| "W-#{i + 1}"}.to_json %>"></div>
               </div>
            </div>
         </div>
      </div>
      </div>
    </div>
      <!-- END List group-->
   </div>
   <div class="col-xl-8">
      <!-- START bar chart-->
      <div class="card card-default card-demo standard" id="cardChart3">
         <div class="card-header">
            <!-- START button group-->
            <!-- 
               <div class="float-right btn-group">
                  <button class="dropdown-toggle dropdown-toggle-nocaret btn btn-secondary btn-sm" type="button" data-toggle="dropdown">
                     Monthly
                  </button>
                  <div class="dropdown-menu dropdown-menu-right-forced fadeInLeft animated" role="menu">
                     <a class="dropdown-item" href="#">Daily</a>
                     <a class="dropdown-item" href="#">Monthly</a>
                     <a class="dropdown-item" href="#">Yearly</a>
                  </div>
               </div>
             -->
            <!-- END button group-->
            <div class="card-title">Job &amp; Job Request</div>
         </div>
         <div class="card-wrapper">
            <div class="card-body">
              <div>
                <canvas id="chartjs-barchart" data-jobs="<%= @dataset1[:jobs].to_json %>" data-job-requests="<%= @dataset1[:job_requests].to_json %>"></canvas>
              </div>
            </div>
         </div>
      </div>
      <!-- END bar chart-->
   </div>
</div>
<div class="my-3">
   <!-- START chart-->
   <div class="card card-default card-demo standard" id="cardChart9">
      <div class="card-header">
         <!-- START button group-->
         <!-- 
         <div class="float-right btn-group">
            <button class="dropdown-toggle dropdown-toggle-nocaret btn btn-secondary btn-sm" type="button" data-toggle="dropdown">All time</button>
            <div class="dropdown-menu dropdown-menu-right-forced fadeInLeft animated" role="menu"><a class="dropdown-item" href="#">Daily</a><a class="dropdown-item" href="#">Monthly</a>
               <div class="dropdown-divider"></div><a class="dropdown-item" href="#">All time</a>
            </div>
         </div>
          -->
         <!-- END button group-->
         <div class="card-title">Overall progress</div>
      </div>
      <div class="card-wrapper">
        <div class="card-body">
          <!-- <div class="flot-chart chart-splinev2"></div> -->
          <div id="chart-splinev2" class="flot-chart" data-jobs="<%= @dataset2[:jobs].to_json %>" data-job-requests="<%= @dataset2[:job_requests].to_json %>" data-users="<%= @dataset2[:users].to_json %>"></div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-6 text-center">
              <p>Users</p>
              <div class="h1"><%= @users.count %></div>
            </div>
            <div class="col-md-3 col-6 text-center">
              <p>Jobs</p>
              <div class="h1"><%= @jobs.count %></div>
            </div>
            <div class="col-md-3 col-6 text-center">
              <p>Job Requests</p>
              <div class="h1"><%= @job_requests.count %></div>
            </div>
            <div class="col-md-3 col-6 text-center">
              <p>Orders</p>
              <div class="h1 text-truncate"><%= @orders.count %></div>
            </div>
          </div>
        </div>
      </div>
   </div>
   <!-- END chart-->
</div>
<script type="text/javascript">
  $(document).ready(function() {
    initDashboardChart()
  });
</script>
<style type="text/css">
  .job_req .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #5d9cec;
  }
  .jobs .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #23b7e5;
  }
</style>