<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
        <!-- START user info-->
        <li class="has-user-block">
            <div id="user-block" class="collapse">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                        <div class="circle circle-success circle-lg"></div>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, <%= current_user.full_name %></span>
                     <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "user-block-role" %>
                  </div>
               </div>
            </div>
        </li>
         <!-- Iterates over all sidebar items-->
        <li class="nav-heading">
          <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
        </li>
        <li class='<%= sidebar_active?('home') %>'>
          <%= link_to admin_root_path do %>
            <em class="icon-speedometer"></em>
            <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('jobs') %>'>
          <%= link_to admin_jobs_path do %>
            <em class="icon-note"></em>
            <span>Jobs</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('job_categories') %>'>
          <%= link_to admin_job_categories_path do %>
            <em class="icon-grid"></em>
            <span>Job Categories</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('job_requests') %>'>
          <%= link_to admin_job_requests_path do %>
            <em class="icon-doc"></em>
            <span>Job Requests</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('skills') %>'>
          <%= link_to admin_skills_path do %>
            <em class="icon-note"></em>
            <span>Skills</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('companies') %>'>
          <%= link_to admin_companies_path do %>
            <em class="icon-grid"></em>
            <span>Companies</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('school_partners') %>'>
          <%= link_to admin_school_partners_path do %>
            <em class="icon-doc"></em>
            <span>School Partners</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('pictures') %>'>
          <%= link_to admin_pictures_path do %>
            <em class="far fa-folder-open"></em>
            <span>Pictures</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('mentors') %>'>
          <%= link_to admin_mentors_path do %>
            <em class="fas fa-user-graduate"></em>
            <span>Mentors</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('users') %>'>
          <%= link_to admin_users_path do %>
            <em class="far fa-user"></em>
            <span>Users</span>
          <% end %>
        </li>
        <li class='<%= sidebar_active?('roles') %>'>
          <%= link_to admin_roles_path do %>
            <em class="fa fa-users"></em>
            <span>Roles</span>
          <% end %>
        </li>
      </ul>  
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->