<div class="card card-default">
   <div class="card-header"></div>
   <div class="card-body">
      <%= form_for school_partner, url: url, method: method, local: true do |form| %>
        <% if school_partner.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(school_partner.errors.count, "error") %> prohibited this school_partner from being saved:</h2>

            <ul>
            <% school_partner.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <fieldset>
          <legend>Form School Partner</legend>
          <div class="form-group row">
            <%= form.label :name, class: "col-md-2 col-form-label" %>
            <div class="col-md-10">
              <%= form.text_field :name, class: "form-control", type:"text" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <%= form.label :phone_number, class: "col-md-2 col-form-label" %>
            <div class="col-md-10">
              <%= form.text_field :phone_number, class: "form-control", type:"text" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <%= form.label :full_address, class: "col-md-2 col-form-label" %>
            <div class="col-md-10">
              <%= form.text_field :full_address, class: "form-control", type:"text" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <%= form.label :city, class: "col-md-2 col-form-label" %>
            <div class="col-md-10">
              <%= form.text_field :city, class: "form-control", type:"text" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <%= form.label :postcode, class: "col-md-2 col-form-label" %>
            <div class="col-md-10">
              <%= form.text_field :postcode, class: "form-control", type:"text" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <%= form.label :state, class: "col-md-2 col-form-label" %>
            <div class="col-md-10">
              <%= form.text_field :state, class: "form-control", type:"text" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <%= form.label :country, class: "col-md-2 col-form-label" %>
            <div class="col-md-10">
              <%= form.text_field :country, class: "form-control", type:"text" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="card card-default">
            <div class="card-header">Select Location</div>
            <div class="card-body">
              <div class="gmap" data-latitude="<%= school_partner.latitude %>" data-longitude="<%= school_partner.longitude %>" data-zoom="18"></div>
            </div>
          </div>
        </fieldset>
        <div class="actions">
          <%= form.hidden_field :latitude, id: :latitude %>
          <%= form.hidden_field :longitude, id: :longitude %>
          <%= form.submit submit_button_label(school_partner), class: "btn btn-primary" %>
        </div>
      <% end %>
   </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      // init maps
      var mapData = $('.gmap').data();

      map = new GMaps({
         div: '.gmap',
        zoom: mapData.zoom,
         lat: mapData.latitude,
         lng: mapData.longitude,
        click: function(e) {
          var coordinates = e.latLng;
              latitude    = coordinates.lat();
              longitude   = coordinates.lng();

          map.removeMarkers();
          map.addMarker({
            lat: latitude,
            lng: longitude
          });

          $("#latitude").val(latitude);
          $("#longitude").val(longitude);
        },
      });

      // Add marker after init map loaded
      map.addMarker({
        lat: mapData.latitude,
        lng: mapData.longitude
      });
    });
  </script>
<% end %>