<div class="content-heading mb-0">
  <div><strong>School Partners</strong></div>
  <div class="ml-auto">
    <%= link_to 'New School Partner', new_admin_school_partner_path, class: 'btn btn-primary' %>
  </div>
</div>
<%= render "layouts/partials/flash_message" %>
<div class="row pt-1 mt-0">
  <div class="col-md-12">
    <div class="card mb-1 border-white">
      <div class="card-header">
        <div class="card-title"></div>
        <div class="text-sm"></div>
        <div id="datatable_test_filter" class="table-responsive">
          <%= search_form_for @q, url: admin_school_partners_path, method: :get do |f| %>
            <table class="table table-borderless">
              <tr>
                <td>
                  <%= f.label "School Partner Name" %>
                  <%= f.search_field :name_cont, class: 'form-control' %>
                </td>
                <td>
                  <%= f.label "Phone Number" %>
                  <%= f.search_field :phone_number_cont, class: 'form-control' %>
                </td>
                <td>
                  <%= f.label "Address" %>
                  <%= f.search_field :full_address_cont, class: 'form-control' %>
                </td>
                <td>
                  <%= f.label "City" %>
                  <%= f.search_field :city_cont, class: 'form-control' %>
                </td>
                <td>
                  <%= f.label "State" %>
                  <%= f.search_field :state_cont, class: 'form-control' %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label "Country" %>
                  <%= f.search_field :country_cont, class: 'form-control' %>
                </td>
                <td>
                  <%= f.label "Postcode" %>
                  <%= f.search_field :postcode_eq, class: 'form-control' %>
                </td>
                <td>
                  <%= f.label "Latitude" %>
                  <%= f.search_field :latitude_eq, class: 'form-control' %>
                </td>
                <td>
                  <%= f.label "Longitude" %>
                  <%= f.search_field :longitude_eq, class: 'form-control' %>
                </td>
              </tr>
            </table>
            <br>
            <%= f.submit 'Search', {class: 'float-right btn btn-primary'} %>
            <%= download_button %>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped my-4 w-100" id="datatable_test">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>Full address</th>
                <th>City</th>
                <th>Postcode</th>
                <th>State</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @school_partners.each do |school_partner| %>
                <tr>
                  <td><%= school_partner.name %></td>
                  <td><%= school_partner.phone_number %></td>
                  <td><%= school_partner.full_address %></td>
                  <td><%= school_partner.city %></td>
                  <td><%= school_partner.postcode %></td>
                  <td><%= school_partner.state %></td>
                  <td><%= school_partner.country %></td>
                  <td><%= school_partner.latitude %></td>
                  <td><%= school_partner.longitude %></td>
                  <td>
                    <%= link_to 'Show', admin_school_partner_path(school_partner), class: 'btn btn-primary' %>
                    <%= link_to 'Edit', edit_admin_school_partner_path(school_partner), class: 'btn btn-info' %>
                    <%= link_to 'Destroy', admin_school_partner_path(school_partner), class: 'btn btn-danger',
                        method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= paginate @school_partners %>
      </div>
    </div>
  </div>
</div>
