<div class="content-heading mb-0">
  <div><strong><%= @school_partner.name %></strong></div>
  <div class="ml-auto">
    <%= link_to 'Edit', edit_admin_school_partner_path(@school_partner), class: 'btn btn-info' %>
  </div>
</div>
<%= render "layouts/partials/flash_message" %>
<div class="row pt-1 mt-0">
  <div class="col-md-6">
    <div class="card mb-1 border-white">
      <div class="card-header"><h4>Contact</h4></div>
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Phone number:</th>
                <td><%= @school_partner.phone_number %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-1 border-white">
      <div class="card-header"><h4>Address</h4></div>
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Full address:</th>
                <td><%= @school_partner.full_address %></td>
              </tr>

              <tr>
                <th>City:</th>
                <td><%= @school_partner.city %></td>
              </tr>

              <tr>
                <th>Postcode:</th>
                <td><%= @school_partner.postcode %></td>
              </tr>

              <tr>
                <th>State:</th>
                <td><%= @school_partner.state %></td>
              </tr>

              <tr>
                <th>Country:</th>
                <td><%= @school_partner.country %></td>
              </tr>

              <tr>
                <th>Latitude:</th>
                <td><%= @school_partner.latitude %></td>
              </tr>

              <tr>
                <th>Longitude:</th>
                <td><%= @school_partner.longitude %></td>
              </tr>
            </tbody>
          </table>
          <div class="card card-default">
            <div class="card-header">Custom zoom</div>
            <div class="card-body">
              <div class="gmap" data-gmap="" data-latitude="<%= @school_partner.latitude %>" data-longitude="<%= @school_partner.longitude %>" data-zoom="19"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    map = new GMaps({
      div: '.gmap',
      zoom: 19,
      lat: $('.gmap').data('latitude'),
      lng: $('.gmap').data('longitude'),
    });
  });
</script>